certifi==2022.5.18.1
charset-normalizer==2.0.12
cycler==0.11.0
fonttools==4.33.3
future==0.18.2
idna==3.3
kiwisolver==1.4.2
latexcodec==2.0.1
matplotlib==3.5.2
monty==2022.4.26
mpmath==1.2.1
networkx==2.8.3
numpy==1.22.4
packaging==21.3
palettable==3.3.0
pandas==1.4.2
Pillow==9.1.1
plotly==5.8.0
pybtex==0.24.0
pymatgen==2022.5.26
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scipy==1.8.1
six==1.16.0
spglib==1.16.5
sympy==1.10.1
tabulate==0.8.9
tenacity==8.0.1
tqdm==4.64.0
uncertainties==3.1.6
urllib3==1.26.9
